.text {
  font-family: 'poppins-bold';
}

* {
  font-family: 'poppins-regular';
}


p {
  font-size: 15px;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}



li {
  background-image: linear-gradient(
    to right,
    #ffb833,
    #ffb833 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

li:before{
  content: '';
  background: darkorange;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

li:hover {
 background-position: 0;
}

li:hover::before{
  width: 100%;
}
