.text {
  font-family: 'poppins-bold';
}

* {
  font-family: 'poppins-regular';
}


p {
  font-size: 14px;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}



li {
  background-image: linear-gradient(
    to right,
    #ffb833,
    #ffb833 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

li:before{
  content: '';
  background: darkorange;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

li:hover {
 background-position: 0;
}

li:hover::before{
  width: 100%;
}


/* DEMO-SPECIFIC STYLES */
.typewriter  {
  color: black;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
   /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}

button {
  position: relative;
  padding: 1em 1.8em;
  outline: none;
  border: 0;
  background: rgb(212, 212, 212);
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 0px;
  cursor: pointer;
  font-weight: bold;
 }
 
 button:hover {
  transition-delay: 0.6s;
 }
 
 button span {
  position: absolute;
 }
 
 button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgb(255, 196, 0));
 }
 
 button:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
 }
 
 button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ff9900);
 }
 
 button:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
 }
 
 button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffd000);
 }
 
 button:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
 }
 
 button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffe600);
 }
 
 button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
 }
 
 button:active {
  background: #ff9900;
  background: linear-gradient(to top right, #bebebe, #fcfcfc);
  color: #bfbfbf;
  box-shadow: 0 0 6px #ffd000, 0 0 8px #ffe600, 0 0 8px #ffd000;
  transition: 0.1s;
 }
 
 button:active span:nth-child(1) 
 span:nth-child(2) 
 span:nth-child(2) 
 span:nth-child(2) {
  transition: none;
  transition-delay: none;
 }

 #map{
  height: 300px;
}

